<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sinothk.openfire.android.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".view.comm.WelcomeActivity"
            android:theme="@style/AppThemeFull">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.comm.LoginActivity"
            android:label="登录"
            android:theme="@style/AppThemeFull" />
        <activity
            android:name=".view.comm.RegisterActivity"
            android:label="注册"
            android:theme="@style/AppThemeFull" />
        <activity android:name=".MainActivity" />
        <activity android:name=".view.comm.ChangePwdActivity" />
        <activity android:name=".view.comm.ConfigServerActivity" />
        <activity android:name=".view.contacts.activity.FriendAddActivity" />
        <activity android:name=".view.contacts.activity.FriendInfoActivity" />
        <activity android:name=".view.mine.activity.UserInfoActivity" />
        <activity android:name=".view.chat.activity.ChatActivity" />
        <activity android:name=".view.contacts.activity.GroupListActivity" />
        <activity android:name=".view.contacts.chatRoom.RoomListActivity" />
        <activity android:name=".view.contacts.chatRoom.RoomCreateActivity" />
        <activity android:name=".view.contacts.chatRoom.RoomChatActivity" />

        <!--<receiver android:name="com.sinothk.openfire.android.keep.ConnectionReceive">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
                <!--<action android:name="android.intent.action.USER_PRESENT" />-->
                <!--<action android:name="com.example.service_destory" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--<service-->
            <!--android:name="com.sinothk.openfire.android.keep.ConnectionService"-->
            <!--android:enabled="true"-->
            <!--android:process=":sinothk.im">-->
            <!--<intent-filter android:priority="1000">-->
                <!--<action android:name="com.dbjtech.myservice" />-->
            <!--</intent-filter>-->
        <!--</service>-->
    </application>

</manifest>